n8n-workflow.json
{
  "name": "Hotel Booking Automation Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-booking",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/macbookpro/Downloads/midscene && ./booking-automation.sh \"{{$json.deviceId}}\" \"{{$json.city}}\""
      },
      "id": "execute-automation",
      "name": "Execute Automation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Automation started for {{$json.city}} on device {{$json.deviceId}}",
          "timestamp": "{{$now}}"
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Execute Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Automation": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 